@font-face {
  font-family: Graduate;
  src: url("../fonts/Graduate-Regular.ttf");
}
@font-face {
  font-family: Fenix;
  src: url("../fonts/Fenix-Regular.ttf");
}
@font-face {
  font-family: Zen;
  src: url("../fonts/ZenDots-Regular.ttf");
}
