@import "./_font";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.body {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  & .left {
    position: relative;
    width: 60%;
    height: 89.6vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  & .right {
    position: relative;
    width: 40%;
    height: 89.6vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #262c47;
  }
}
