.click {
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(75, 75, 75);
  font-family: Fenix;
}
.loading {
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-family: Fenix;
}
